@keyframes titles {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }

  85% {
    opacity: 1;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes social {
  0% {
    opacity: 0;
    transform: translatey(200px);
  }

  85% {
    opacity: 1;
    transform: translatey(-15px);
  }

  100% {
    opacity: 1;
    transform: translatey(0);
  }
}