$primary-color: #3fc5ff;
$secondary-color: #005a81;
$primary-color-opacity: #3fc5ff9c;
$secondary-color-opacity: #005a81b9;
$max-width: 70%;
$opacity: .4;
$gradient: linear-gradient(to bottom right, #3fc5ff, #8adcff15);
