#work {
  background: $primary-color;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  background: darken($primary-color, 6);
  padding: 1rem;
  margin-top: 30px;
  border: 3px solid darken($primary-color, 10);
  margin-bottom: 30px;

  .item {
    h5 {
      margin-top: 0;
      color: #fff;
      background: darken($primary-color, 10);
      padding: 0.7rem;
    }
    img {
      width: 100%;
      border: 3px solid $primary-color;

      &:hover {
        opacity: 0.5;
        border-color: $secondary-color;
        cursor: pointer;
        @include easeOut;
      }
    }
  }
}
