/*GLOBAL*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: auto;
  width: 80%;
}

.btn {
  background: none;
  padding: 1em;
  color: #fff;
  border: 1px solid rgb(0, 153, 255);
  border-radius: 10px;
  transition: all 300ms;
}

.btn:hover {
  background: rgb(0, 153, 255);
  color: #000;
  border: 1px solid #000;
  box-shadow: 1px 4px 3px #000;
  font-weight: bold;
  cursor: pointer;
}

.btn2 {
  background: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 1em;
  transition: all 300ms;
}

.btn2:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  box-shadow: 1px 4px 3px #000;
  cursor: pointer;
  font-weight: bold;
}

.btn-success {
  background: none;
  color: #000;
  padding: 1em;
  border: 1px solid rgb(81, 255, 0);
  border-radius: 10px;
  transition: all 300ms;
}

.btn-success:hover {
  background: rgb(81, 255, 0);
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 1px 4px 3px #000;
}

.clear {
  clear: both;
}

.highlight {
  color: rgb(0, 153, 255);
}

/*END GLOBAL*/

/*SHOWCASE/NAV*/

#main {
  box-shadow: 1px 2px 6px black;
}

.nav-brand {
  float: left;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

.nav-brand a {
  text-decoration: none;
  color: #fff;
}

.main-list {
  list-style: none;
  float: right;
  margin-top: 30px;
}

.nav-item {
  display: inline-block;
  font-weight: bold;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  padding: 15px;
}

.nav-link:hover {
  color: #000;
  background: rgb(0, 153, 255);
}

#showcase-nav {
  background: url('../img/sky.jpeg') 0px -50px;
  min-height: 600px;
  background-repeat: no-repeat;
  border-bottom: 2px solid #000;
  background-attachment: fixed;
  background-size: cover;
}

.showcase-content {
  display: grid;
  grid-auto-rows: 602px;
  justify-items: center;
  align-items: center;
  text-align: center;
  color: #fff;
  overflow: hidden;
}

/*END SHOWCASE/NAV*/

/*SERVICES HEADER/SERVICES BOXES*/

.services-header {
  background: rgb(0, 153, 255);
  min-height: 250px;
}

.services-header-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  text-align: center;
  justify-content: center;
  align-content: center;
  grid-gap: 1em;
}

.row7 {
  color: #fff;
}

.row8 {
  color: #fff;
  font-size: 150px;
}

.boxes-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  text-align: center;
}

.boxes-content i {
  font-size: 40px;
}

/*END SERVICES HEADER/SERVICES BOXES*/

/*SHOWCASE2*/

#showcase2 {
  background: url('../img/showcase2.jpeg');
  min-height: 300px;
  background-repeat: no-repeat;
  color: #fff;
  background-attachment: fixed;
  background-size: cover;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}

.showcase2-content {
  display: grid;
  text-align: center;
  grid-auto-rows: 300px;
  justify-items: center;
  align-items: center;
}

/*END SHOWCASE2*/

/*ABOUT*/

#about {
  background: rgb(0, 153, 255);
  min-height: 250px;
}

.about-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1em;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#about .row5 {
  color: #fff;
  font-weight: bold;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.row6 {
  font-size: 150px;
  color: #fff;
}

/*END ABOUT*/

/*CONTACT*/

#contact {
  min-height: 250px;
}

.contact-content {
  display: grid;
  grid-auto-rows: 100%;
  grid-template-columns: 2fr 2fr;
  grid-gap: 1em;
}

.row10 {
  text-align: center;
  justify-self: center;
  align-self: center;
}

.row11 label,
.row11 input {
  display: block;
}

.row11 label {
  padding: 10px;
}

.row11 input,
.row11 textarea {
  width: 100%;
  height: 50px;
}

.row11 input {
  height: 20px;
  padding: 10px;
}

.row11 textarea {
  padding: 10px;
}

/*END CONTACT*/

/*FOOTER*/

footer {
  background: rgb(0, 153, 255);
  text-align: center;
  padding: 0;
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #000;
  color: #fff;
}

/*END FOOTER*/
